/* Стили для моего проекта */

body{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
.headList{
    list-style: inside url(images/check_icon.png);
    padding-left: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    float: left;
    width: 55%;

}
.smalsection{
    width: 100%;
    height: 323px;
    background-color: #445161;
    padding: 50px;
    clear: both;
}
h1{
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    float: left;
    width: 55%;
}
.aboutsection{
    width: 100%;
    height: 330px;
    padding: 50px;
    clear: both;
    background-color: #989898;

}

.largesection{
    width: 100%;
    height: 600px;
}
.img{
    float: right;
    width: 470px;
    height: 215px;
}
.about{
    font-size: 35px;
    margin: 0 0 35px;
}
.aboutText1{
    font-size: 16px;
    line-height: 24px;
    float: left;
    width: 55%;
}
.aboutText2{
    font-size: 16px;
    line-height: 24px;
    float: left;
    width: 55%;
    margin-top: 30px;
}
.dignitysection{
    width: 100%;
    height: 330px;
    padding: 50px;
    clear: both;
    background-color: #989898;
}
.dignity{
    color: #445161;
    font-size: 35px;
    margin: 0 0 35px;
    text-align: center;
}